*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(89, 90, 106);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: grey;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
}
h1{
    font-size: 2rem;
}
.user-conatiner{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}
.user-input-container{
    display: flex; 
    justify-content: space-between;
}
#user-input{
    width: 80%;
    padding: 0.4rem;
    border-radius: 5px;
}
#search-btn{
    padding: 0.4rem;
    border-radius: 5px;
}
.circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #299158;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1 rem ;
    color: white;
    font-weight: 200;
    background: conic-gradient(#299158 var(--progress-degree,0%),#283a2e 0%);
}
.circle span{
    position: relative;
    z-index: 2;
}
.stats-progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

